body {
  font-family: Poppins;
}
.display-1 {
  font-family: 'Lato', sans-serif;
  font-size: 4.25rem;
}
.display-2 {
  font-family: 'Lato', sans-serif;
  font-size: 2.6rem;
}
.display-4 {
  font-family: 'Lato', sans-serif;
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
}
.display-7 {
  font-family: 'Lato', sans-serif;
  font-size: 0.82rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #4284df !important;
}
.bg-success {
  background-color: #9473d2 !important;
}
.bg-info {
  background-color: #7237a2 !important;
}
.bg-warning {
  background-color: #f8f9c4 !important;
}
.bg-danger {
  background-color: #efefef !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #4284df !important;
  border-color: #4284df !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #4284df !important;
  border-color: #4284df !important;
}
.btn-primary:before {
  background-color: #1f5eb6 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1f5eb6 !important;
  border-color: #1f5eb6 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
}
.btn-secondary:before {
  background-color: #eb3934 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #eb3934 !important;
  border-color: #eb3934 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
}
.btn-info:before {
  background-color: #4a2469 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4a2469 !important;
  border-color: #4a2469 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
}
.btn-success:before {
  background-color: #693cbc !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #693cbc !important;
  border-color: #693cbc !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
  color: #aaac12 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #aaac12 !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-warning:before {
  background-color: #f0f27f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #aaac12 !important;
  background-color: #f0f27f !important;
  border-color: #f0f27f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #efefef !important;
  border-color: #efefef !important;
  color: #707070 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #707070 !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-danger:before {
  background-color: #c9c9c9 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #707070 !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white:before {
  background-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black:before {
  background-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #1b53a0;
  color: #1b53a0;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  border-color: #4284df;
}
.btn-primary-outline:before {
  background-color: #4284df;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4284df !important;
  border-color: #4284df !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #e9221d;
  color: #e9221d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  border-color: #f27d7a;
}
.btn-secondary-outline:before {
  background-color: #f27d7a;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3c1d56;
  color: #3c1d56;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  border-color: #7237a2;
}
.btn-info-outline:before {
  background-color: #7237a2;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #5e36a9;
  color: #5e36a9;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  border-color: #9473d2;
}
.btn-success-outline:before {
  background-color: #9473d2;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #edf067;
  color: #edf067;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #aaac12;
  border-color: #f8f9c4;
}
.btn-warning-outline:before {
  background-color: #f8f9c4;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #707070;
  border-color: #efefef;
}
.btn-danger-outline:before {
  background-color: #efefef;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  border-color: #333333;
}
.btn-black-outline:before {
  background-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  border-color: #ffffff;
}
.btn-white-outline:before {
  background-color: #ffffff;
}
.btn-bgr {
  position: relative;
  transition: border 0.3s ease-in-out, color 0.5s;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}
.btn-bgr span {
  position: relative;
  z-index: 12;
}
.btn-bgr:before {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  right: 105%;
  bottom: -2px;
  transition: right 0.3s ease-in-out;
  z-index: -1;
}
.btn-bgr:hover:before {
  right: -2px;
}
.btn-underline {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: color 0.2s ease-out;
}
.btn-underline:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4284df;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.btn-underline:hover:before {
  width: 100%;
}
.text-primary {
  color: #4284df !important;
}
.text-secondary {
  color: #f27d7a !important;
}
.text-success {
  color: #9473d2 !important;
}
.text-info {
  color: #7237a2 !important;
}
.text-warning {
  color: #f8f9c4 !important;
}
.text-danger {
  color: #efefef !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #1b53a0 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #e9221d !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #5e36a9 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3c1d56 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #edf067 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #bcbcbc !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #7237a2;
}
.alert-warning {
  background-color: #f8f9c4;
}
.alert-danger {
  background-color: #efefef;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4284df;
  border-color: #4284df;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #4284df;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f0f6fd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b083d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
blockquote {
  border-color: #4284df;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #4284df;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #4284df;
}
/*Menu*/
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.16rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.312rem;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4284df;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4284df;
  border-bottom-color: #4284df;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #4284df !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f27d7a !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%234284df' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rxmMZWSdCS .navbar {
  padding: .5rem 0;
  background: #000000;
  transition: none;
  min-height: 50px;
}
.cid-rxmMZWSdCS .navbar-dropdown.bg-color.transparent.opened {
  background: #000000;
}
.cid-rxmMZWSdCS a {
  font-style: normal;
}
.cid-rxmMZWSdCS .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-rxmMZWSdCS .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0 .65rem !important;
}
.cid-rxmMZWSdCS .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rxmMZWSdCS .content-text {
  margin-bottom: 0;
}
.cid-rxmMZWSdCS .navbar-nav {
  position: relative;
  min-height: 49px;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-rxmMZWSdCS .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #4284df;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-rxmMZWSdCS .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-rxmMZWSdCS .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-rxmMZWSdCS .navbar-nav .nav-item a {
  margin: 0 1.3rem !important;
}
.cid-rxmMZWSdCS .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-rxmMZWSdCS .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-rxmMZWSdCS .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-rxmMZWSdCS .navbar-buttons.mbr-section-btn {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rxmMZWSdCS .nav-dropdown .link {
  font-weight: 400;
}
.cid-rxmMZWSdCS .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-rxmMZWSdCS .content-right-side {
  text-align: center;
}
.cid-rxmMZWSdCS .menu-content-top {
  display: none;
  padding: 0 2rem;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
}
.cid-rxmMZWSdCS .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-rxmMZWSdCS .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-rxmMZWSdCS .widget-icon {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.65rem;
}
.cid-rxmMZWSdCS .info-widget {
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-right: 3rem;
  border-left: 1px solid #e0e0e0;
}
.cid-rxmMZWSdCS .menu-content-right {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rxmMZWSdCS .menu-content-right .info-widget:last-child {
  padding-right: 0;
}
.cid-rxmMZWSdCS .menu-content-right .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-rxmMZWSdCS .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-rxmMZWSdCS .widget-content .widget-title {
  font-weight: 600;
  margin-bottom: 7px;
}
.cid-rxmMZWSdCS .widget-content .widget-text {
  margin-bottom: 0;
}
.cid-rxmMZWSdCS .menu-bottom {
  display: flex;
  width: 100%;
  padding: 0 2rem;
  position: relative;
}
@media (min-width: 992px) {
  .cid-rxmMZWSdCS .navbar .menu-content-top {
    display: -webkit-flex;
    min-height: 83px;
    height: 100%;
  }
  .cid-rxmMZWSdCS .content-right-side {
    display: flex;
    text-align: right;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rxmMZWSdCS .menu-content-top {
    border-bottom: 1px solid #e0e0e0;
  }
  .cid-rxmMZWSdCS .navbar {
    display: block;
    padding: 0;
  }
  .cid-rxmMZWSdCS .navbar .menu-logo {
    margin-right: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rxmMZWSdCS .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    z-index: 101;
    min-height: 49px;
  }
  .cid-rxmMZWSdCS .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-rxmMZWSdCS .navbar-toggler {
    display: none;
  }
  .cid-rxmMZWSdCS .navbar-collapse {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
.cid-rxmMZWSdCS .navbar-short .menu-content-top {
  height: 0;
  min-height: 0;
  border: none;
}
.cid-rxmMZWSdCS .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rxmMZWSdCS .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-rxmMZWSdCS .menu-logo {
  margin-right: auto;
}
.cid-rxmMZWSdCS .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rxmMZWSdCS .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rxmMZWSdCS .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rxmMZWSdCS .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rxmMZWSdCS .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rxmMZWSdCS .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rxmMZWSdCS .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-rxmMZWSdCS .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
}
.cid-rxmMZWSdCS .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rxmMZWSdCS .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rxmMZWSdCS .dropdown .dropdown-menu {
  background: #000000;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rxmMZWSdCS .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 2.5385em 0.235em 3.5385em !important;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rxmMZWSdCS .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rxmMZWSdCS .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-rxmMZWSdCS .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rxmMZWSdCS .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rxmMZWSdCS .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rxmMZWSdCS .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rxmMZWSdCS .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 1000;
}
.cid-rxmMZWSdCS .navbar.navbar-short {
  min-height: 50px;
  transition: all .2s;
}
.cid-rxmMZWSdCS .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rxmMZWSdCS .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rxmMZWSdCS .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rxmMZWSdCS .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rxmMZWSdCS button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  margin: 1rem .8rem;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rxmMZWSdCS button.navbar-toggler:focus {
  outline: none;
}
.cid-rxmMZWSdCS button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rxmMZWSdCS button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rxmMZWSdCS button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rxmMZWSdCS button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rxmMZWSdCS button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rxmMZWSdCS nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rxmMZWSdCS nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rxmMZWSdCS nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rxmMZWSdCS nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rxmMZWSdCS .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rxmMZWSdCS .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rxmMZWSdCS .collapsed .btn {
  display: -webkit-flex;
}
.cid-rxmMZWSdCS .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rxmMZWSdCS .collapsed .navbar-collapse.collapsing,
.cid-rxmMZWSdCS .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rxmMZWSdCS .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rxmMZWSdCS .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rxmMZWSdCS .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rxmMZWSdCS .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rxmMZWSdCS .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rxmMZWSdCS .collapsed .navbar-collapse.show .navbar-buttons {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.cid-rxmMZWSdCS .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rxmMZWSdCS .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-rxmMZWSdCS .collapsed button.navbar-toggler {
  display: block;
}
.cid-rxmMZWSdCS .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-rxmMZWSdCS .collapsed .navbar-toggleable-sm {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rxmMZWSdCS .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rxmMZWSdCS .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rxmMZWSdCS .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rxmMZWSdCS .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
.cid-rxmMZWSdCS .collapsed .menu-bottom {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-rxmMZWSdCS .menu-bottom {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-rxmMZWSdCS img {
    height: 3.8rem !important;
  }
  .cid-rxmMZWSdCS .btn {
    display: -webkit-flex;
  }
  .cid-rxmMZWSdCS button.navbar-toggler {
    display: block;
  }
  .cid-rxmMZWSdCS .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-rxmMZWSdCS .navbar-toggleable-sm {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rxmMZWSdCS .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rxmMZWSdCS .navbar-collapse.collapsing,
  .cid-rxmMZWSdCS .navbar-collapse.show {
    display: block !important;
  }
  .cid-rxmMZWSdCS .navbar-collapse.collapsing .navbar-nav,
  .cid-rxmMZWSdCS .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rxmMZWSdCS .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rxmMZWSdCS .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rxmMZWSdCS .navbar-collapse.collapsing .navbar-buttons,
  .cid-rxmMZWSdCS .navbar-collapse.show .navbar-buttons {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
  }
  .cid-rxmMZWSdCS .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rxmMZWSdCS .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rxmMZWSdCS .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rxmMZWSdCS .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rxmMZWSdCS .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rxmMZWSdCS .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
  .cid-rxmMZWSdCS .navbar-buttons.mbr-section-btn {
    width: 100%;
  }
  .cid-rxmMZWSdCS .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
.cid-rxmMZWSdCS .navbar-dropdown {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cid-rxmMZWSdCS .navbar-collapse {
  -ms-flex-preferred-size: auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
.cid-rxmMZWSdCS .nav-link:focus {
  outline: none;
}
.cid-rxmMZWSdCS .navbar-toggler {
  position: relative;
}
.cid-rxmMZWSdCS .dropdown-item.active,
.cid-rxmMZWSdCS .dropdown-item:active {
  background: #000000;
  color: initial;
}
.cid-rxmMZWSdCS .nav-link:hover,
.cid-rxmMZWSdCS .dropdown-item:hover {
  color: #4284df;
}
.cid-rxmMZWSdCS .widget-text {
  color: #ffffff;
}
.cid-rxmMZWSdCS .widget-title,
.cid-rxmMZWSdCS .widget-icon {
  color: #ffffff;
}
.cid-rxmJhElltp {
  background-image: url("../../../assets/images/drone-final-bg-1-2000x1124.jpg");
}
.cid-rxmJhElltp .media-container-column .btn-bgr {
  z-index: 0;
}
.cid-rxmJhElltp .mbr-overlay {
  background: #ffffff;
  background: linear-gradient(#ffffff -10%, #1d2671 75%);
}
.cid-rxmJhElltp .mbr-section-title {
  margin: 0;
}
.cid-rxmJhElltp .separator {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  max-width: 125px;
  margin-left: auto;
  margin-right: auto;
}
.cid-rxmJhElltp H1 {
  color: #ffffff;
  text-align: center;
}
.cid-rxmJhElltp H3 {
  color: #ffffff;
  text-align: center;
}
.cid-rxpQTnM55F {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rxpQTnM55F .card {
  padding: 1rem 1rem 3rem 1rem;
}
.cid-rxpQTnM55F .card-img {
  padding-bottom: 2rem;
}
.cid-rxpQTnM55F .mbr-text {
  color: #767676;
}
.cid-rxpQTnM55F span {
  font-size: 14px;
  color: #ffffff;
}
.cid-rxpQTnM55F .mbr-section-btn {
  margin-left: 0;
}
.cid-rxpQTnM55F .date span {
  display: inline-block;
  background-color: #f27d7a;
  padding: 0.2rem 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90%;
  overflow: hidden;
}
@media (max-width: 767px) {
  .cid-rxpQTnM55F .card-title {
    text-align: center;
  }
  .cid-rxpQTnM55F p.mbr-text,
  .cid-rxpQTnM55F p.date {
    text-align: center;
  }
}
.cid-rxn8KQtDXi {
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-rxn8KQtDXi .mbr-figure {
  padding: 0;
}
.cid-rxn8KQtDXi .content-row {
  background-color: #0c57bf;
}
.cid-rxn8KQtDXi .content-row .media-content {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-image: url("../../../assets/images/roof-install-2000x938.jpeg");
}
@media (min-width: 992px) {
  .cid-rxn8KQtDXi .content-row .media-content {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
  }
}
.cid-rxn8KQtDXi .content-row .media-content .mbr-overlay {
  background: linear-gradient(90deg, #0c57bf, #cf3229);
}
.cid-rxn8KQtDXi .content-row .media-content .content-block {
  z-index: 1;
}
.cid-rxmYd1uREx {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #ffffff;
}
.cid-rxmYd1uREx .mbr-iconfont {
  font-size: 48px;
  padding-right: 1rem;
}
.cid-rxmYd1uREx .form-block .block .row {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rxmYd1uREx a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rxmYd1uREx .mbr-form .btn {
  margin: 0;
}
.cid-rxmYd1uREx .block .form-control {
  padding: 1.07em 1.07em;
}
.cid-rxmYd1uREx .c-name,
.cid-rxmYd1uREx .c-email,
.cid-rxmYd1uREx .input-group-btn {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.cid-rxmYd1uREx .input-group-btn .btn {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
@media (min-width: 768px) {
  .cid-rxmYd1uREx .container > .row > .col-md-6:first-child {
    padding-right: 30px;
  }
  .cid-rxmYd1uREx .container > .row > .col-md-6:last-child {
    padding-left: 30px;
  }
}
@media (max-width: 499px) {
  .cid-rxmYd1uREx .form-block {
    padding: 1rem;
  }
}
.cid-rxpcyJnXIc {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/roof-beautiful-2000x1003.jpg");
}
.cid-rxpcyJnXIc .mbr-section-subtitle {
  color: #ffffff;
}
.cid-rxpcyJnXIc ul.list-inline {
  margin: 0;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rxpcyJnXIc ul.list-inline li {
  margin: 0;
  padding: .5rem;
}
.cid-rxpcyJnXIc ul.list-inline img {
  max-width: 6rem;
  padding-bottom: .5rem;
}
.cid-rxpcyJnXIc ul.list-inline img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}
@media (max-width: 767px) {
  .cid-rxpcyJnXIc .list-inline-item img {
    max-width: 5rem;
  }
}
.cid-rxpcyJnXIc .mbr-section-title {
  color: #ffffff;
}
.cid-rxn2x7HbYy {
  padding-top: 100px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rxn2x7HbYy H1 {
  color: #000000;
}
.cid-rxn2x7HbYy .mbr-text {
  color: #000000;
}
.cid-rxn23I4Nra {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #ffffff;
  background: linear-gradient(90deg, #ffffff, #ffffff);
}
.cid-rxn23I4Nra .mbr-overlay {
  background: linear-gradient(90deg, #21b968, #4284df);
}
.cid-rxn23I4Nra h3 {
  color: #FFFFFF;
  font-weight: 500;
}
.cid-rxn23I4Nra p {
  color: #FFFFFF;
}
.cid-rxn23I4Nra h4 {
  color: #FFFFFF;
  display: none;
}
.cid-rxn23I4Nra .mbr-figure img {
  padding-left: 1rem;
}
.cid-rxn23I4Nra .counter-container {
  color: #767676;
  padding-right: 4rem;
  counter-reset: myCounter;
  padding-left: 5rem;
}
.cid-rxn23I4Nra .counter-container div {
  margin-bottom: 1rem;
  padding-left: .5rem;
}
.cid-rxn23I4Nra .counter-container li {
  list-style: none;
  padding-left: 6rem;
  position: relative;
}
.cid-rxn23I4Nra .counter-container .counter {
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  font-size: 40px;
  position: absolute;
  left: 0;
  display: inline-block;
  margin: 0 0 5px;
  line-height: 40px;
  transition: all .2s;
  width: 60px;
  height: 40px;
}
@media (max-width: 575px) {
  .cid-rxn23I4Nra .counter-container .counter {
    left: 2rem;
  }
}
.cid-rxn23I4Nra P {
  color: #000000;
}
.cid-rxn23I4Nra H3 {
  color: #000000;
}
.cid-rxn23I4Nra H4 {
  color: #000000;
  text-align: left;
}
.cid-rxpOnpSYfG {
  padding-top: 105px;
  padding-bottom: 105px;
  background-image: url("../../../assets/images/contact-us-bg-2000x647.jpg");
}
.cid-rxpOnpSYfG h2,
.cid-rxpOnpSYfG h3,
.cid-rxpOnpSYfG h4,
.cid-rxpOnpSYfG p {
  color: #ffffff;
}
.cid-rxpOnpSYfG .mbr-overlay {
  z-index: -1;
}
.cid-rxpOnpSYfG .mbr-iconfont {
  font-size: 48px;
  padding-right: 1rem;
}
.cid-rxpOnpSYfG .input {
  margin-bottom: 15px;
}
.cid-rxpOnpSYfG .subtext {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.cid-rxpOnpSYfG .media-container-row {
  -webkit-align-items: center;
  align-items: center;
}
.cid-rxpOnpSYfG .mbr-text {
  color: #767676;
}
.cid-rxpOnpSYfG .form-block {
  padding: 3rem;
  position: relative;
}
.cid-rxpOnpSYfG .form-block .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0c57bf;
  opacity: 0.5;
  z-index: 0;
}
.cid-rxpOnpSYfG .form-block .form-wrap {
  position: relative;
  z-index: 1;
}
.cid-rxpOnpSYfG a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rxpOnpSYfG .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-rxpOnpSYfG .input-group-btn {
  display: block;
  text-align: center;
}
.cid-rxpOnpSYfG .block .form-control {
  padding: 1.07em 1.07em;
}
@media (min-width: 768px) {
  .cid-rxpOnpSYfG .container > .row > .col-md-6:first-child {
    padding-right: 30px;
  }
  .cid-rxpOnpSYfG .container > .row > .col-md-6:last-child {
    padding-left: 30px;
  }
}
@media (max-width: 991px) {
  .cid-rxpOnpSYfG .google-map {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rxpOnpSYfG h2 {
    padding-top: 2rem;
  }
}
@media (max-width: 499px) {
  .cid-rxpOnpSYfG .block-content {
    padding: 0;
  }
  .cid-rxpOnpSYfG .form-block {
    padding: 1rem;
  }
}
.cid-rxpOnpSYfG P {
  text-align: left;
}
.cid-rxpOnpSYfG .mbr-section-title,
.cid-rxpOnpSYfG .mbr-section-btn {
  text-align: left;
}
.cid-rxpOnpSYfG .mbr-section-subtitle {
  text-align: left;
}
.cid-rxpOnpSYfG .form-text {
  text-align: left;
}
.cid-rxp00N4aAg {
  padding-top: 120px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rxp00N4aAg .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.cid-rxp00N4aAg .nav-tabs .nav-item {
  border-bottom: 1px solid #0c57bf;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.cid-rxp00N4aAg .nav-tabs .nav-item .nav-link {
  box-sizing: border-box;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  border-radius: 0;
  border: none;
  padding: 0.5rem 1rem 0.7rem;
  margin: 0 !important;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
.cid-rxp00N4aAg .nav-tabs .nav-item .nav-link:hover {
  color: #ffffff;
  background-color: #0c57bf;
}
.cid-rxp00N4aAg .nav-tabs .nav-item .nav-link:focus {
  color: #0c57bf;
  box-shadow: none;
  background-color: transparent;
}
.cid-rxp00N4aAg .nav-tabs .nav-item .nav-link.active {
  border-bottom: 3px solid #0c57bf;
  color: #0c57bf;
  background: transparent;
  padding: 0.5rem 1rem 0.5rem;
}
.cid-rxp00N4aAg .mbr-section-subtitle {
  color: #767676;
}
.cid-rxp00N4aAg p {
  color: #767676;
}
.cid-rxp00N4aAg .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-rxp00N4aAg .mbr-figure {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-right: 4rem;
  padding-right: 0;
  padding-left: 4rem;
}
.cid-rxp00N4aAg .mbr-text {
  word-break: break-word;
}
.cid-rxp00N4aAg .tabs-container {
  width: 100%;
}
@media (max-width: 991px) {
  .cid-rxp00N4aAg .media-container-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-rxp00N4aAg .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 2rem;
    padding-bottom: 0;
    padding-top: 2rem;
  }
}
.cid-rxp00N4aAg P {
  color: #000000;
  text-align: center;
}
.cid-rxuXXPaOC4 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-rxuXXPaOC4 .mbr-figure {
  padding: 0;
}
.cid-rxuXXPaOC4 .content-row {
  background-color: #0c57bf;
}
.cid-rxuXXPaOC4 .content-row .media-content {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-image: url("../../../assets/images/roof-install-with-tech-2000x780.jpg");
}
@media (min-width: 992px) {
  .cid-rxuXXPaOC4 .content-row .media-content {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
  }
}
.cid-rxuXXPaOC4 .content-row .media-content .mbr-overlay {
  background: linear-gradient(90deg, #0c57bf, #0c57bf);
}
.cid-rxuXXPaOC4 .content-row .media-content .content-block {
  z-index: 1;
}
.cid-rxpTJ7rAvg {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rxpTJ7rAvg p {
  text-align: center;
}
.cid-rxpTJ7rAvg .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #000000;
}
.cid-rxpTJ7rAvg .btn-underline:hover {
  color: #505050;
}
.cid-rxpTJ7rAvg .btn-underline:before {
  background-color: #505050;
}
.cid-rxpTJ7rAvg .social-list a:focus {
  text-decoration: none;
}
.cid-rxpTJ7rAvg .text-copyright {
  width: 100%;
  color: #000000;
}
.cid-rxpTJ7rAvg .img-logo-footer {
  margin-right: 1rem;
  max-width: 5rem;
}
.cid-rxpTJ7rAvg .text-logo-footer {
  display: inline-block;
  vertical-align: middle;
}
.cid-rxpTJ7rAvg .logo-footer {
  line-height: normal;
}
.cid-rxpTJ7rAvg .copyright {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rxpTJ7rAvg .social-btns {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rxpTJ7rAvg .mbr-section-btn {
  font-size: 16px;
}
.cid-rxpTJ7rAvg .mbr-section-btn a {
  margin: 0 1rem 0.5rem;
}
